/*-- Newsletter css Start --*/
.jp_newsletter_wrapper{
	float:left;
	width:100%;
	background:#ffffff14;
	padding-top:60px;
	padding-bottom:60px;
	position:relative;
}
.jp_newsletter_img_overlay_wrapper{
	position:absolute;
	top:0%;
	left:0%;
	right:0%;
	bottom:0%;
	background:#0e1427eb;
}
.jp_newsletter_text{
	float:left;
	width:100%;
	padding-top: 2px;
}
.jp_newsletter_text h3{
    float: left;
    width: 100%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.76);
    margin: 8px 0px;
    text-transform: uppercase;
}
.jp_newsletter_text h3 span{
	font-weight:bold;
	color:#ffffff;
}
.jp_newsletter_text h3 i{
    margin-right: 5px;
    font-size: 30px;
    color: #ffffff;
}
.jp_newsletter_field{
	float:left;
	width:100%;
}
.jp_newsletter_field input{
	float:left;
	width:calc(95% - 160px);
	border:2px solid transparent;
	height:50px;
	line-height:50px;
	padding:0px 15px;
	color:#797979;
	background-color:#ffffff;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	position:relative;
	padding-left: 40px;
}
.jp_newsletter_field i{
	position:absolute;
	left: 29px;
    z-index: 1;
    top: 17px;
	color:#23c0e9;
}
.jp_newsletter_field input::-webkit-input-placeholder {
	color: #797979;
}
.jp_newsletter_field input::-moz-placeholder {
	color: #797979;
}
.jp_newsletter_field input:-ms-input-placeholder {
	color: #797979;
}
.jp_newsletter_field input:-moz-placeholder {
	color: #797979;
}
.jp_newsletter_field button{
	float:right;
	width:160px;
	height:50px;
	font-size:14px;
	text-transform:uppercase;
	border-radius:2px;
	background-color:#f36969;
	color:#ffffff;
	border:0px;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.jp_newsletter_field button:hover{
	background:#ffffff;
	color:#000000;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
/*-- Newsletter css End --*/
/*-- jp footer Wrapper Start --*/
.jp_main_footer_img_wrapper{
	background-position:center 0;
	background-size:cover;
	background-repeat:no-repeat;
	float:left;
	width:100%;
	height:100%;
	position:relative;
	border-bottom:2px solid #23c0e9;
}
.jp_footer_logo_wrapper{
	float:left;
	width:100%;
	text-align:center;
	padding-bottom:50px;
	border-bottom: 1px solid #ffffff1a;
}
.jp_footer_three_sec_main_wrapper{
	float:left;
	width:100%;
	padding-top:80px;
}
.jp_footer_main_wrapper{
	float:left;
	width:100%;
	padding-top:50px;
}
.jp_footer_logo{
	display:inline-block;
}
.jp_footer_first_cont h2{
	font-size:20px;
	color:#ffffff;
	font-weight:900;
	text-transform:uppercase;
	position:relative;
}
.jp_footer_first_cont h2:after{
	content:'';
	border:1px solid #23c0e9;
	width:30px;
	position:absolute;
	bottom: -15px;
    left: 11px;
}
.jp_footer_first_cont h2:before{
	content:'';
	border:1px solid #23c0e9;
	width:8px;
	position:absolute;
	bottom: -15px;
    left: 0;
}
.jp_footer_first_cont p{
	padding-top:60px;
	color:#ffffffd9;
}
.jp_footer_first_cont ul{
	margin-top: 20px;
}
.jp_footer_first_cont li a{
	font-size:14px;
	font-weight:bold;
	color:#23c0e9;
	text-transform:uppercase;
}
.jp_footer_first_cont li i{
	color:#23c0e9;
	padding-right:5px;
}
.jp_footer_candidate h2{
	font-size:20px;
	color:#ffffff;
	font-weight:900;
	text-transform:uppercase;
	position:relative;
}
.jp_footer_candidate h2:after{
	content:'';
	border:1px solid #23c0e9;
	width:30px;
	position:absolute;
	bottom: -15px;
    left: 11px;
}
.jp_footer_candidate h2:before{
	content:'';
	border:1px solid #23c0e9;
	width:8px;
	position:absolute;
	bottom: -15px;
    left: 0;
}
.jp_footer_candidate ul{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
	margin-top:60px;
}
.jp_footer_candidate ul li{
    list-style: none;
    float: left;
    width: 100%;
    padding: 0px 0px 15px 0px;
}
.jp_footer_candidate ul li a{
	float:left;
	width:auto;
	text-transform:capitalize;
	font-size: 16px;
	color:#ffffffd9;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.jp_footer_candidate ul li a i{
	padding-right:10px;
	color:#f36969;
}
.jp_footer_candidate ul li a:hover{
	color:#f36969;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.jp_bottom_footer_Wrapper{
	float:left;
	width:100%;
	border-top:1px solid #ffffff1a;
	margin-top:80px;
	padding-top:60px;
	padding-bottom:60px;
}
.jp_bottom_footer_left_cont p{
	color:#ffffff8c;
	margin-top: 12px;
}
.jp_bottom_footer_right_cont ul{
	float:right;
}
.jp_bottom_footer_right_cont li{
	float:left;
	margin-left:20px;
}
.jp_bottom_footer_right_cont li a{
	float:left;
	width:50px;
	height:50px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	background:transparent; 
	text-align:center;
	line-height:50px;
	color:#ffffff8c;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.jp_bottom_footer_right_cont li a:hover{
	background:#23c0e9; 
	color:#ffffff;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.jp_bottom_footer_left_cont{
	position:relative;
}
#return-to-top {
	position:absolute;
	float:left;
    bottom: 20px;
    right: -17px;
    top: 0;
    background: transparent;
	border:1px solid #ffffff2e;
    width: 52px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index:1000;
}
#return-to-top i {
    color: #ffffff8c;
    margin: 0;
    position: relative;
    left: 16px;
    top: 8px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover i {
    top: 5px;
	color:#ffffff;
}
#return-to-top:hover{
	background:#23c0e9;
	border:1px solid transparent;	
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
/*-- jp footer Wrapper End --*/

.jp_bottom_footer_Wrapper {
    margin-top: 0;
}
