.mainmenu {
    right: 0px;
}

.user-bar .jp_navi_right_btn_wrapper li {
    float: right;
}

.user-bar .nav-item span{
	float:right;
	width:130px;
	height:50px;
	line-height:50px;
	color:#ffffff;
	border:1px solid #ffffff40;
	text-align:center;
	background:transparent;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.user-info {
	display: flex;
	cursor: pointer;
}

.user-bar .user-info .user-avatar {
	height: 42px;
	width: 42px;
	border-radius: 50%;
	padding: 2px;
	margin-right: 10px;
}

.user-bar .user-info .username {
	padding: 10px;
}

li.user-info {
	padding: 10px;
}

li.user-info .dropdown-menu .dropdown-item {
	background: #0e1427;
	border: 1px solid #ffffff40;
	border-radius: 0;
	min-width: 210px;
}

li.user-info .dropdown-menu {
	min-width: 0;
	background-color: #0e1427;
	padding :0;
}

li.user-info .dropdown-menu .dropdown-item:hover {
	background-color: #23c0e9;
    padding-left: 5px;
    color: #ffffff !important;
    transition: all 0.5s;
}
