.delete-cv-checkbox {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}
.cv-item {
    cursor: pointer;
}
.cv-item:hover {
    opacity: 0.8;
}


._loading_overlay_content.css-42igfv {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 1200px;
}
._loading_overlay_spinner.css-50etie {
    transform: translate(-50%, 400%);;
}

