.cv-ref .row {
    display: flex;
}

.cv-ref .col-10 {
    width: 83.33%;
}

.cv-ref .col-9 {
    width: 75%;
}

.cv-ref .col-8 {
    width: 66.66%;
}

.cv-ref .col-7 {
    width: 58.33%;
}

.cv-ref .col-6 {
    width: 50%;
}

.cv-ref .col-5 {
    width: 41.66%;
}

.cv-ref .col-4 {
    width: 33.33%;
}

.cv-ref .col-3 {
    width: 25%;
}

.cv-ref .col-2 {
    width: 16.66%;
}

.jp_tittle_main_wrapper {
    padding-top: 0 !important;
}

.cv-ref {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0px 240px 0px 240px;
    background: #fff;
}

/* CSS đặc biệt cho PDF */
.pdf-mode .cv-container {
    margin: 0;
    /* Loại bỏ margin khi tạo PDF */
    box-shadow: none;
    /* Loại bỏ box-shadow khi tạo PDF */
}

.content {
    width: 100%;
    background-color: white;
    padding: - 20px;
    box-sizing: border-box;
}

.content h1 {
    text-align: center;
}

.content .cv-avatar img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    /* Đảm bảo ảnh không vượt quá chiều rộng của container */
    width: 250px;
    height: 250px;
}

.save-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.cv-background .cv-container .top-toolbar {
    width: 880px;
    height: 100px;
    border: 1px solid #333;
    margin: auto;
}

.cv-background .cv-container .cv-title {
    height: auto;
}

.cv-background .cv-container .cv-content {
    height: auto;
}

.cv-background .cv-container .cv-content .basic-info {
    --bs-gutter-x: 0rem !important;
    background: #374458;
    margin: 0;
}

.cv-background .cv-container .cv-content .basic-info .info .name-position {
    padding: 30px;
}

.cv-background .cv-container .cv-content .basic-info .info .name-position #name p {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
}

.cv-background .cv-container .cv-content .basic-info .info .name-position #position p {
    font-size: 18px;
    color: #fff;
}

.cv-background .cv-container .cv-content .basic-info .info .list-info {
    padding: 10px 30px;
}

.cv-background .cv-container .cv-content .basic-info .info .list-info .info-field {
    display: flex;
}

.cv-background .cv-container .cv-content .basic-info .info .list-info .info-field span {
    font-size: 17px;
    font-weight: 500;
    margin-right: 20px;
    color: #fff;
    padding: 5px;
}

.cv-background .cv-container .cv-content .basic-info .info .list-info .info-field p {
    font-size: 17px;
    color: #fff;
    margin-bottom: 0px;
}

.cv-background .cv-container .cv-content .basic-info .cv-avatar {
    text-align: center;
}

.cv-background .cv-container .cv-content .basic-info .cv-avatar img {
    height: auto;
    padding: 20px;
    width: 250px;
    object-fit: cover;
    margin-top: 30px;
}

.cv-background .cv-container .cv-content .education {
    padding: 10px 30px;
}

.cv-background .cv-container .cv-content .education .education-title {
    font-size: 22px;
    font-weight: 700;
    color: #374458;
    border-bottom: 0.5px solid #adadad;
    margin-bottom: 15px;
}

.cv-background .cv-container .cv-content .education .education-content .time {
    padding: 0 20px;
    font-size: 16px;
}

.cv-background .cv-container .cv-content .education .education-content .school #school-name p {
    font-size: 16px;
}

.cv-background .cv-container .cv-content .education .education-content .school .description #school-description {
    font-size: 16px;
}

.cv-background .cv-container .cv-content .education .education-content .school .description ul,
.cv-background .cv-container .cv-content .education .education-content .school .description li {
    list-style-type: disc;
}

.cv-background .cv-container .cv-content .work-exp {
    padding: 10px 30px;
}

.cv-background .cv-container .cv-content .work-exp .work-exp-title {
    font-size: 22px;
    font-weight: 700;
    color: #374458;
    border-bottom: 0.5px solid #adadad;
    margin-bottom: 15px;
}

.cv-background .cv-container .cv-content .work-exp .work-exp-content .time #work-exp-time p {
    padding: 0 20px;
    font-size: 16px;
}

.cv-background .cv-container .cv-content .work-exp .work-exp-content .work .name #work-exp-name p {
    font-size: 16px;
}

.cv-background .cv-container .cv-content .work-exp .work-exp-content .work .description #work-exp-description p {
    font-size: 16px;
}

.cv-background .cv-container .cv-content .work-exp .work-exp-content .work .description ul,
.cv-background .cv-container .cv-content .work-exp .work-exp-content .work .description li {
    list-style-type: disc;
}

.cv-background .cv-container .cv-content .skills {
    padding: 10px 30px;
}

.cv-background .cv-container .cv-content .skills .skills-title {
    font-size: 22px;
    font-weight: 700;
    color: #374458;
    border-bottom: 0.5px solid #adadad;
    margin-bottom: 15px;
}

.cv-background .cv-container .cv-content .skills .skills-content {
    padding: 10px;
}

.cv-background .cv-container .cv-content .skills .skills-content .skills-field {
    float: right;
}

.cv-background .cv-container .cv-content .skills .skills-content .skills-field p {
    float: right;
    font-size: 15px;
    color: black;
}

.cv-background .cv-container .cv-content .skills .skills-content .skills-list ul li.skill {
    list-style-type: disc;
}

.cv-background .cv-container .cv-content .awards {
    padding: 10px 30px;
}

.cv-background .cv-container .cv-content .awards .award-title {
    font-size: 22px;
    font-weight: 700;
    color: #374458;
    border-bottom: 0.5px solid #adadad;
    margin-bottom: 15px;
}

.cv-background .cv-container .cv-content .projects {
    padding: 10px 30px;
}

.cv-background .cv-container .cv-content .projects .projects-title {
    font-size: 22px;
    font-weight: 700;
    color: #374458;
    border-bottom: 0.5px solid #adadad;
    margin-bottom: 15px;
}

.cv-background .cv-container .cv-content .projects .projects-content .project {
    margin-bottom: 25px;
}

.cv-background .cv-container .cv-content .projects .projects-content .project .project-time {
    margin-bottom: 10px;
}

.cv-background .cv-container .cv-content .projects .projects-content .project .project-detail .project-field {
    border: 1px solid #b9b9b9;
}

.cv-background .cv-container .cv-content .projects .projects-content .project .project-detail .project-content {
    border: 1px solid #b9b9b9;
}

.cv-background .cv-container .cv-content .projects .projects-content .project .project-detail .project-content ul,
.cv-background .cv-container .cv-content .projects .projects-content .project .project-detail .project-content li {
    list-style-type: disc;
}

.cv-background .cv-container .cv-content .certificate {
    height: 260px;
    border: 1px solid blue;
}
