.toolbar-dropdown {
    /* border: 1px solid red; */
    position: fixed;
    margin-top: 52px;
    background: #425061;
    z-index: 9999;
    border-radius: 10px;
}

.toolbar-dropdown-content {
    background-color: #425061;
    border-radius: 8px;
    max-height: calc(100vh - 4.3rem);
    min-height: 8.6rem;
    overflow: hidden;
    padding: 8px;
}

/* COLOR */
.toolbar-dropdown-content .dropdown-color {
    width: 350px;
    height: 250px;
}
.dropdown-color .theme-color-title {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.dropdown-color .list-theme-color {
    padding: 15px;
}

.dropdown-color .list-theme-color .list-theme-color-row {
    display: flex;
    margin-bottom: 20px;
}

.dropdown-color .theme-color-button {
    padding: 15px; 
    margin: 0.5rem 1.5rem; 
    border-radius: 100%; 
    width: 15px;
    height: 15px;
}
.dropdown-color .theme-color-button:hover {
    outline: 5px solid #46b0e1;
    border: 4px solid #46b0e1;
 }
 .dropdown-color .theme-color-button.selected {
    border: 4px solid #46b0e1;
 }

/* DROPDOWN */
.toolbar-dropdown-content .dropdown-template {
    width: 900px;
    height: 250px;
}
.toolbar-dropdown-content .dropdown-template .dropdown-template-container {
    margin-top: 80px;
}
.toolbar-dropdown-content .dropdown-template .dropdown-template-container .dropdown-template-title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.toolbar-dropdown-content .dropdown-template .slick-arrow.slick-prev {
    left: 0;
    top: -35px;
}
.toolbar-dropdown-content .dropdown-template .slick-arrow.slick-next {
    right: 0;
    top: -35px;
}

.dropdown-template .template-preview {
    padding: 0 20px;
}

.template-preview .jp_hiring_content_main_wrapper {
    padding: 0;
    background-color: #425061;
    width: 180px;
    border: none;
}

.template-preview .jp_hiring_content_main_wrapper:hover {
    border: none;
}

.template-preview .jp_hiring_content_wrapper {
    width: 100%;
}

.template-preview .jp_hiring_content_wrapper img {
    width: 100%;
    height: 120px;
    border-radius: 8px;
}
.template-preview .jp_hiring_content_wrapper img:hover {
    border: 1px solid #46b0e1;
    outline: 4px solid #46b0e1;
}
.template-preview .jp_hiring_content_wrapper img.selected {
    border: 1px solid #46b0e1;
    outline: 4px solid #46b0e1;
}

.dropdown-template .template-preview-title {
    font-size: 15px;
    color: white;
}

