.company-avatar.jp_job_post_side_img img {
    max-width: 100px;
    height: 80px;
    margin-top: 20px;
}

.jp_job_post_right_cont {
    padding-top: 0;
}

.company-avatar-row {
    margin-top: 0px;
}

