.cv-background {
    background: #333;

    .cv-container {
        margin: 0px 240px 0px 240px;
        background: #fff;

        .top-toolbar {
            width: 880px;
            height: 50px;
            border: 1px solid #333;
            margin: auto;
        }

        .cv-title {
            height: 100px;
            // border: 1px solid #333;
        }

        .cv-content {
            height: 3000px;
            // border: 1px solid red;

            .basic-info {
                --bs-gutter-x: 0rem !important;
                background: rgb(55, 68, 88);

                .info {

                    .name-position {
                        padding: 30px;

                        #name {
                            p {
                                font-size: 40px;
                                font-weight: 600;
                                margin-bottom: 5px;
                                color: #fff;
                            }
                        }

                        #position {
                            p {
                                font-size: 18px;
                                color: #fff;
                            }
                        }
                    }

                    .list-info {
                        padding: 10px 30px;

                        .info-field {
                            display: flex;
                            
                            span {
                                font-size: 17px;
                                font-weight: 500;
                                margin-right: 20px;
                                color: #fff;
                                padding: 5px;
                            }

                            p {
                                font-size: 17px;
                                color: #fff;
                                margin-bottom: 0px;
                            }

                        }

                    }

                }

                .avatar {
                    // border: 1px solid black;
                    text-align: center;

                    img {
                        height: auto;
                        padding: 20px;
                        // border-radius: 40px;
                        width: 250px;
                        object-fit: cover;
                        margin-top: 30px;
                    }
                }
            }

            .education {
                padding: 10px 30px;

                .education-title {
                    font-size: 22px;
                    font-weight: 700;
                    color: rgb(55, 68, 88);
                    border-bottom: 0.5px solid rgb(173, 173, 173);
                    margin-bottom: 15px;
                }

                .education-content {

                    .time {
                        padding: 0 20px;
                        font-size: 16px;
                    }

                    .school {
                        #school-name {
                            p {
                                font-size: 16px;
                            } 
                        }

                        .description {
                            #school-description {
                                font-size: 16px;
                            }

                            ul,
                            li {
                                list-style-type: disc
                            }
                        }
                    }
                }
            }

            .work-exp {
                padding: 10px 30px;
                
                .work-exp-title {
                    font-size: 22px;
                    font-weight: 700;
                    color: rgb(55, 68, 88);
                    border-bottom: 0.5px solid rgb(173, 173, 173);
                    margin-bottom: 15px;
                }

                .work-exp-content {

                    .time {
                        // border: 1px solid #555;
                        
                        #work-exp-time {
                            p {
                                padding: 0 20px;
                                font-size: 16px;
                            }
                        }
                    }

                    .work {
                        .name {
                            #work-exp-name {
                                p {
                                    font-size: 16px;
                                }
                            }
                        }
                        .description {
                            #work-exp-description {
                                p {
                                    font-size: 16px;
                                }
                            }

                            ul,
                            li {
                                list-style-type: disc
                            }
                        }
                    }

                }
            }


            .skills {
                // height: 260px;
                padding: 10px 30px;

                .skills-title {
                    font-size: 22px;
                    font-weight: 700;
                    color: rgb(55, 68, 88);
                    border-bottom: 0.5px solid rgb(173, 173, 173);
                    margin-bottom: 15px;
                }

                .skills-content {
                    padding: 10px;

                    .skills-field {
                        float: right;

                        p {
                            float: right;
                            font-size: 15px;
                            color: black;
                        }
                    }

                    .skills-list {

                        ul {
                            // padding-left: 0;
                            li.skill {
                                list-style-type: disc
                            }
                        }
                    }

                }

            }

            .awards {
                padding: 10px 30px;

                .award-title {
                    font-size: 22px;
                    font-weight: 700;
                    color: rgb(55, 68, 88);
                    border-bottom: 0.5px solid rgb(173, 173, 173);
                    margin-bottom: 15px;
                }
                .award-content {

                    .time {
                    }
                    .award {
                        .name {
                        }
                        .description {
                        }
                    }
                }

            }

            .projects {
                padding: 10px 30px;
                
                .projects-title {
                    font-size: 22px;
                    font-weight: 700;
                    color: rgb(55, 68, 88);
                    border-bottom: 0.5px solid rgb(173, 173, 173);
                    margin-bottom: 15px;
                }
                .projects-content {
                    
                    .project {
                        margin-bottom: 25px;
                        
                        .project-name {

                        }
                        .project-time {
                            margin-bottom: 10px;
                        }
                        .project-detail {

                            .project-field {
                                border: 1px solid rgb(185, 185, 185);
                            }
                            .project-content {
                                border: 1px solid rgb(185, 185, 185);

                                ul,
                                li {
                                    list-style-type: disc
                                }
                            }
                        }
                    }

                }

            }

            .certificate {
                height: 260px;
                border: 1px solid blue;
            }

        }
    }

}
