.upload-avatar-btn {
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
    color: #23c0e9;
    font-size: 18px;
    border: 1px dashed #23c0e9;
    font-weight: 600;
}
.upload-avatar-btn:hover {
    opacity: 0.6;
}

.toggle-avatar-víibility {
    font-size: 18px;
    padding: 25px;
    cursor: pointer;
    color: #23c0e9;
}
.toggle-avatar-víibility:hover {
    opacity: 0.6;
}

.cv-background .cv-container .cv-content .basic-info .cv-avatar .blank-avatar {
    height: 250px;
    padding: 20px;
    width: 250px;
    object-fit: cover;
    margin-top: 30px;
}
