.jp_first_right_sidebar_main_wrapper{
	float:left;
	width:100%;
}
.jp_add_resume_wrapper{
	/* background:url('../images/content/resume-bg.jpg') 50% 0 repeat-y; */
	width:100%;
	height:100%;
	background-position:center 0;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	text-align:center;
	padding-left:30px;
	padding-right:30px;
}
.jp_add_resume_img_overlay{
	position:absolute;
	top:0%;
	left:0%;
	right:0%;
	bottom:0%;
	background:rgba(0,0,0,0.9);
}
.jp_add_resume_cont{
	position:relative;
	display:inline-block;
	padding-top:45px;
	padding-bottom:45px;
}
.jp_add_resume_cont h4{
	font-size:16px;
	color:#ffffff;
	padding-top:25px;
	line-height: 25px;
	position:relative;
}
.jp_add_resume_cont h4:before {
    content: '';
    border: 1px solid #23c0e9;
    width: 8px;
    position: absolute;
    bottom: -15px;
    left: -45px;
    right: 0;
    margin: 0px auto;
}
.jp_add_resume_cont h4:after {
    content: '';
    border: 1px solid #23c0e9;
    width: 30px;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
	margin: 0px auto;
}
.jp_add_resume_cont ul{
	display:inline-block;
	margin-top:35px;
}
.jp_add_resume_cont li a{
	float:left;
	width:160px;
	height:50px;
	text-align:center;
	line-height:50px;
	color:#ffffff;
	font-weight:bold;
	background:#23c0e9;
	-webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
   border-radius: 10px; 
   -webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.jp_add_resume_cont li a:hover{
	background:#f36969;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.jp_spotlight_main_wrapper{
	float:left;
	width:100%;
	margin-top:30px;
}
.spotlight_header_wrapper{
	float:left;
	width:100%;
	background:#23c0e9;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	-webkit-border-top-left-radius: 10px; 
  -moz-border-top-left-radius: 10px; 
   border-top-left-radius: 10px; 
   -webkit-border-top-right-radius: 10px; 
  -moz-border-top-right-radius: 10px; 
   border-top-right-radius: 10px; 
}
.spotlight_header_wrapper h4{
	font-size:16px;
	color:#ffffff;
}
.jp_spotlight_slider_wrapper{
	float:left;
	width:100%;
	padding-top: 30px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:40px;
	background:#ffffff;
	border:1px solid #e9e9e9;
	border-top:0;
	border-bottom:1px solid #23c0e9;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.jp_spotlight_slider_wrapper:hover{
	border-bottom:1px solid #f36969;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
} 
.jp_spotlight_slider_wrapper  .owl-theme .owl-dots{
	display:none;
}
.jp_spotlight_slider_wrapper .owl-theme .owl-nav {
    position: absolute;
    top: -66px;
    margin: 0;
    left: 0;
    right: 0;
	z-index:1000;
	display:block;
}
.jp_spotlight_slider_wrapper .owl-theme .owl-nav .owl-prev{
    font-size: 26px;
    margin: 0;
    padding: 0;
    right: 20px;
	top:0;
	color:#ffffffab;
	background:none;
    position: absolute;
    text-align: center;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_spotlight_slider_wrapper  .owl-theme .owl-nav .owl-next{
    font-size: 26px;
    margin: 0;
    padding: 0;
	top:0;
	right:-10px;
    position: absolute;
	color:#ffffffab;
	background:none;
    text-align: center;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_spotlight_slider_wrapper .owl-theme .owl-nav .owl-prev:hover, .jp_spotlight_slider_wrapper  .owl-theme .owl-nav .owl-next:hover{
	color:#ffffff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_spotlight_slider_cont_Wrapper h4{
	font-size:16px;
	color:#000000;
	font-weight:bold;
	padding-top:40px;
}
.jp_spotlight_slider_cont_Wrapper p{
	font-size:16px;
	color:#23c0e9;
	padding-top:5px;
}
.jp_spotlight_slider_cont_Wrapper li{
	float:left;
}
.jp_spotlight_slider_cont_Wrapper li i{
	color:#f36969;
}
.jp_spotlight_slider_cont_Wrapper li:first-child{
	margin-left:0;
	color:#000000;
	font-size:16px;
	font-weight:bold;
}
.jp_spotlight_slider_cont_Wrapper li:last-child{
	color:#797979;
	font-size:16px;
	margin-top:20px;
}
.jp_spotlight_slider_btn_wrapper{
	float:left;
	width:100%;
	text-align:center;
}
.jp_spotlight_slider_btn ul{
	display:inline-block;
	margin-top:35px;
}
.jp_spotlight_slider_btn li a{
	float:left;
	width:160px;
	height:50px;
	text-align:center;
	line-height:50px;
	color:#ffffff;
	font-weight:bold;
	background:#f36969;
	-webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
   border-radius: 10px; 
   -webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.jp_spotlight_slider_btn li a:hover{
	background:#23c0e9;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.jp_rightside_job_categories_wrapper{
	float:left;
	width:100%;
	margin-top:30px;
}
.jp_rightside_job_categories_heading{
	float:left;
	width:100%;
	background:#23c0e9;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	-webkit-border-top-left-radius: 10px; 
  -moz-border-top-left-radius: 10px; 
   border-top-left-radius: 10px; 
   -webkit-border-top-right-radius: 10px; 
  -moz-border-top-right-radius: 10px; 
   border-top-right-radius: 10px; 
}
.jp_rightside_job_categories_heading h4{
	font-size:16px;
	color:#ffffff;
}
.jp_rightside_job_categories_content{
	float:left;
	width:100%;
	background:#ffffff;
	padding-left:20px;
	padding-bottom:40px;
	border:1px solid #e9e9e9;
	border-bottom:1px solid #23c0e9;
	border-top:0;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_rightside_job_categories_wrapper:hover .jp_rightside_job_categories_content{
	border-bottom:1px solid #f36969;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_rightside_job_categories_content ul{
	margin-top:30px;
}
.jp_rightside_job_categories_content li{
	margin-top:20px;
}
.jp_rightside_job_categories_content li a{
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_rightside_job_categories_content li a:hover{
	color:#23c0e9;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_rightside_job_categories_content li:first-child{
	margin-top:0;
}
.jp_rightside_job_categories_content li i{
	padding-right:5px;
	color:#f36969;
}
.jp_rightside_job_categories_content li a span{
	color:#23c0e9;
}
.jp_rightside_job_categories_content li:last-child a{
	font-size:14px;
	font-weight:bold;
	color:#23c0e9;
	text-transform:uppercase;
}
.jp_rightside_job_categories_content li:last-child i{
	color:#23c0e9;
}
.jp_rightside_career_wrapper{
	float:left;
	width:100%;
	margin-top:30px;
}
.jp_rightside_career_heading{
	float:left;
	width:100%;
	background:#23c0e9;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	-webkit-border-top-left-radius: 10px; 
  -moz-border-top-left-radius: 10px; 
   border-top-left-radius: 10px; 
   -webkit-border-top-right-radius: 10px; 
  -moz-border-top-right-radius: 10px; 
   border-top-right-radius: 10px; 
}
.jp_rightside_career_heading h4{
	font-size:16px;
	color:#ffffff;
}
.jp_rightside_career_main_content{
	float:left;
	width:100%;
	background:#ffffff;
	padding-bottom:40px;
	border:1px solid #e9e9e9;
	border-bottom:1px solid #22c0e9;
	border-top:0;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_rightside_career_main_content:hover{
	border-bottom:1px solid #f36969;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_rightside_career_content_wrapper{
	float:left;
	width:100%;
	padding-top:40px;
	padding-left:30px;
}
.jp_rightside_career_img{
	float:left;
	width:80px;
}
.jp_rightside_career_img_cont{
	float:left;
	width:calc(100% - 80px);
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
}
.jp_rightside_career_img_cont h4{
	font-size:14px;
	color:#000000;
	font-weight:bold;
}
.jp_rightside_career_img_cont p{
	font-size:12px;
	padding-top:3px;
}
.jp_rightside_career_img_cont p i{
	color:#f36969;
	font-size:14px;
	font-weight:bold;
}
.jp_rightside_career_btn{
	float:left;
	width:100%;
	margin-top:20px;
}
.jp_rightside_career_btn a{
	text-transform:uppercase;
	color:#22c0e9;
	padding-left:30px;
}
.jp_rightside_career_btn a i{
	color:#22c0e9;
}
/*-- jp Featured product Wrapper End --*/

.jp_job_post_right_btn_wrapper li:last-child {
    margin-top: 0;
}

.jp_job_post_right_btn_wrapper li:last-child a {
    background: #37d09c;
}

.jp_job_post_right_btn_wrapper li:last-child a:hover {
    background: #09ae77;
}
