/*-- jp pricing Wrapper Start --*/
.jp_pricing_main_wrapper{
	float:left;
	width:100%;
	margin-top:30px;
	padding-bottom:30px;
	text-align:center;
}
.stars_wrapper{
	float:left;
}
.stars_wrapper{
	width:100%;
	height:40px;
	background:#fca900;
	color:#fff;
	-ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
	margin-left:-100px;
}
.stars_wrapper i{
	position:relative;
	left:-35px;
	top:5px;
}
.price_box1 span, .price_box2 span, .price_box3 span{
	font-size:30px;
	color:#ffffff;
	font-family: 'Titillium Web', sans-serif;
	font-weight:bold;
}
.price_box1 h1, .price_box2 h1, .price_box3 h1{
	font-size:30px;
	font-size:25px;
	padding-top: 11px;
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	color:#ffffff;
    margin-top: 31px;
    font-weight: bold;
    margin-left: -14px;
}
.box1_heading_wrapper{
	width:100%;
	border-bottom:2px solid #e9e9e9;
	padding-bottom:130px;
}
.pricing_box1_wrapper{
	background:#fff;
	position:relative;
	overflow:hidden;
	border:1px solid #e9e9e9;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_border_box1_wrapper:hover{
	border-bottom:1px solid #23c0e9;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_border_box2_wrapper:hover{
	border-bottom:1px solid #f36969;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_border_box3_wrapper:hover{
	border-bottom:1px solid #37d09c;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.box1_heading_wrapper h4{
	font-size:20px;
	font-weight:bold;
	padding-top:50px;
	color:#000000;
	text-transform:uppercase;
	position:relative;
}
.box1_heading_wrapper h4:before {
    content: '';
    border: 1px solid #23c0e9;
    width: 8px;
    position: absolute;
    bottom: -15px;
    left: -45px;
    right: 0;
    margin: 0px auto;
}
.box1_heading_wrapper h4:after {
    content: '';
    border: 1px solid #23c0e9;
    width: 30px;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0px auto;
}
.box2_heading_wrapper h4{
	font-size:20px;
	font-weight:bold;
	padding-top:50px;
	color:#000000;
	text-transform:uppercase;
	position:relative;
}
.box2_heading_wrapper h4:before {
    content: '';
    border: 1px solid #f36969;
    width: 8px;
    position: absolute;
    bottom: -15px;
    left: -45px;
    right: 0;
    margin: 0px auto;
}
.box2_heading_wrapper h4:after {
    content: '';
    border: 1px solid #f36969;
    width: 30px;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0px auto;
}
.box3_heading_wrapper h4{
	font-size:20px;
	font-weight:bold;
	padding-top:50px;
	color:#000000;
	text-transform:uppercase;
	position:relative;
}
.box3_heading_wrapper h4:before {
    content: '';
    border: 1px solid #37d09c;
    width: 8px;
    position: absolute;
    bottom: -15px;
    left: -45px;
    right: 0;
    margin: 0px auto;
}
.box3_heading_wrapper h4:after {
    content: '';
    border: 1px solid #37d09c;
    width: 30px;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0px auto;
}
.price_box1_wrapper{
	text-align:center;
}
.price_box1{
	width:120px;
	height:120px;
	border:2px solid #23c0e9;
	-webkit-border-radius:38px;
	-moz-border-radius:38px;
	border-radius:38px;
	display:inline-block;
	margin-top:-75px;
	line-height: 55px;
	z-index:1;
	background:#23c0e9;
	    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	    position: relative;
    top: -9px;
}
.price_box2{
	width:120px;
	height:120px;
	border:2px solid #f36969;
	-webkit-border-radius:38px;
	-moz-border-radius:38px;
	border-radius:38px;
	display:inline-block;
	margin-top:-75px;
	line-height: 55px;
	z-index:1;
	background:#f36969;
	    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	    position: relative;
    top: -9px;
}
.price_box3{
	width:120px;
	height:120px;
	border:2px solid #37d09c;
	-webkit-border-radius:38px;
	-moz-border-radius:38px;
	border-radius:38px;
	display:inline-block;
	margin-top:-75px;
	line-height: 55px;
	z-index:1;
	background:#37d09c;
	    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	    position: relative;
    top: -9px;
}
.pricing_cont{
	display:inline-block;
}
.pricing_cont ul{
	list-style:none;
	padding:0;
	margin-top:60px;
	text-align: left;
}
.pricing_cont li{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color:#000000;
	margin-top:25px;
}
.pricing_btn_wrapper{
	text-align:center;
}
.pricing_btn1, .pricing_btn2, .pricing_btn3{
	display:inline-block;
	padding-bottom:50px;
	
}
.pricing_btn1 ul, .pricing_btn2 ul, .pricing_btn3 ul{
	padding:0;
	list-style:none;
	margin-top:60px;
}
.pricing_btn1 li a{
	width:170px;
	height:50px;
	float:left;
	color:#ffffff;
	background:#0e1427;
	text-align:center;
	line-height:45px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	letter-spacing:2px;
	border:2px solid #0e1427;
}
.pricing_btn2 li a{
	width:170px;
	height:50px;
	float:left;
	color:#ffffff;
	background:#0e1427;
	text-align:center;
	line-height:45px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	letter-spacing:2px;
	border:2px solid #0e1427;
}
.pricing_btn3 li a{
	width:170px;
	height:50px;
	float:left;
	color:#ffffff;
	background:#0e1427;
	text-align:center;
	line-height:45px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	letter-spacing:2px;
	border:2px solid #0e1427;
}
.pricing_box1_wrapper:hover .pricing_btn1 li a{
	background:#23c0e9;
	border:2px solid #23c0e9;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_box1_wrapper:hover .pricing_btn2 li a{
	background:#f36969;
	border:2px solid #f36969;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_box1_wrapper:hover .pricing_btn3 li a{
	background:#37d09c;
	border:2px solid #37d09c;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_pricing_label_wrapper{
	width: 40px;
    height: 69px;
	background:#f1a835;
	position:absolute;
	top:-100px;
	right: 20px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_pricing_label_wrapper:after{
	content:'';
	border-bottom: 20px solid #ffffff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
}
.pricing_box1_wrapper:hover .jp_pricing_label_wrapper{
	top:0;
	padding-top: 12px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.jp_pricing_label_wrapper i{
	color:#ffffff;
	-webkit-transition: all 0.9s;
	-o-transition: all 0.9s;
	-ms-transition: all 0.9s;
	-moz-transition: all 0.9s;
	transition: all 0.9s;
}
.pricing_box1_wrapper:hover .jp_pricing_label_wrapper i{
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
	-webkit-transition: all 0.9s;
	-o-transition: all 0.9s;
	-ms-transition: all 0.9s;
	-moz-transition: all 0.9s;
	transition: all 0.9s;
}
/*-- jp pricing Wrapper Start --*/

.pricing_cont_wrapper {
    min-height: 280px;
}
