.trending-category {
    float:left; 
    width:100%; 
}

.jp_tittle_slider_main_wrapper.trending-category {
    margin-top: 30px;
}

.jp_tittle_slider_content_wrapper.trending-category .slick-slider .slick-arrow {
    display: none !important;
}
